node-red/node.json
[
    {
        "id": "6b5e9ad51a009cbf",
        "type": "inject",
        "z": "f046b6947ded6c09",
        "name": "Mensagem",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "contentType",
                "v": "application-json",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "{\"temperatura\":0,\"pressao\":0,\"umidade\":0,\"sensor_presenca\":false,\"trava_seguranca\":false}",
        "payloadType": "json",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "cd49c3502a221623"
            ]
        ]
    },
    {
        "id": "cd49c3502a221623",
        "type": "http request",
        "z": "f046b6947ded6c09",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/newData/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 180,
        "wires": [
            [
                "f61e91633828cb26"
            ]
        ]
    },
    {
        "id": "f61e91633828cb26",
        "type": "debug",
        "z": "f046b6947ded6c09",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "f9e9106989bab720",
        "type": "comment",
        "z": "f046b6947ded6c09",
        "name": "Criar sensor",
        "info": "",
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "dfaaa6777f0b28b1",
        "type": "inject",
        "z": "f046b6947ded6c09",
        "name": "Mensagem",
        "props": [
            {
                "p": "contentType",
                "v": "application-json",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "f323a550524fa80a"
            ]
        ]
    },
    {
        "id": "552de300d1e17634",
        "type": "http request",
        "z": "f046b6947ded6c09",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:8080/sensor/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "ca232ea2643ca2fc"
            ]
        ]
    },
    {
        "id": "ca232ea2643ca2fc",
        "type": "debug",
        "z": "f046b6947ded6c09",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "cc5d9c8cede64832",
        "type": "comment",
        "z": "f046b6947ded6c09",
        "name": "Atualiza os dados do sensor",
        "info": "",
        "x": 280,
        "y": 260,
        "wires": []
    },
    {
        "id": "f323a550524fa80a",
        "type": "function",
        "z": "f046b6947ded6c09",
        "name": "Gera dados randômicos.",
        "func": "let ativo = true;\n\nmsg.payload = {\n    \"temperatura\" : Math.random()*100,\n    \"pressao\": Math.random(),\n    \"umidade\": 1 + Math.random(),\n    \"sensor_presenca\": !ativo, \n    \"trava_seguranca\": !ativo, \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "552de300d1e17634"
            ]
        ]
    }
]